.react-calendar {
    width: 1700px;
    max-width: 100%;
    border: 2px solid #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 4.125em;
    background: rgba(251, 250, 250, 0.2);
    backdrop-filter: blur(8px);
    margin-top: 20px;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 100;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
    color: "white";
}

.react-calendar__navigation {
    display: flex;
    height: 100px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    min-width: 120px;
    background: none;
    border: 2px solid #ffffff;
    color: "white";
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
    color: "white";
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    border: 2px solid white;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    color: white;
    width: 60px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    color: #ffffff;
    border: 2px solid #ffffff;
}


.blur1 {
    background: rgba(251, 250, 250, 0.2);
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 50%;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    color: #ffffff;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10.75em;
    font-weight: bold;
    border: 2px solid #ffffff;
}

.react-calendar__month-view__days__day--weekend {
    color: #606060;
    border: 2px solid #ffffff;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #4b4b4b;
        border: 2px solid #ffffff;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    border: 2px solid white;
    background: rgba(151, 87, 87, 0);
    color: white;
    width: 60px;
    height: 90px;
    text-align: center;
    border: 2px solid #ffffff;
    font-size: larger;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
        border: 2px solid #ffffff;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
    border: 2px solid #ffffff;
    font-size: larger;
}

.react-calendar__tile--now {
    border: 2px solid white;
    background: rgba(255, 255, 255, 0);
    color: rgb(255, 230, 0);
    width: 60px;
    height: 90px;
    text-align: center;
    font-size: larger;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
    border: 2px solid #ffffff;
}

.react-calendar__tile--hasActive {
    background: #0060c1;
        border: 2px solid #ffffff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
        border: 2px solid #ffffff;
}

.react-calendar__tile--active {
    background: #006edc;
    color: white;
        border: 2px solid #ffffff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
        border: 2px solid #ffffff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
    border: 2px solid #ffffff;
}
