.user-profile-parent {
  display: grid;
  grid-template-columns: 10fr 1fr 10fr 1fr 1fr 10fr 10fr 10fr 1fr 1fr;
  grid-template-rows: 5fr 1fr 15fr 5fr 1fr 2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "user-card user-card user-card . user-bio user-bio user-bio user-bio user-bio ."
    "user-card user-card user-card . user-bio user-bio user-bio user-bio user-bio ."
    "user-card user-card user-card . . . . . . ."
    "user-card user-card user-card . user-past user-past user-past user-past user-past ."
    "user-card user-card user-card . user-past user-past user-past user-past user-past ."
    ". . . . . . . . . ."
    "user-logout user-logout user-logout . user-btn1 user-btn1 . user-btn2 user-btn2 .";
}
.user-card { grid-area: user-card;}
.user-bio { grid-area: user-bio;
  background-color: blue;}
.user-past { grid-area: user-past;
  background-color: red; }
.user-btn1 { grid-area: user-btn1;
  background-color: yellow;}
.user-btn2 { grid-area: user-btn2;
  background-color: grey;}
.user-logout { grid-area: user-logout;
  background-color: purple;}
